*{
    margin: 0;
    padding: 0;
    position: relative;
}
.main{
    background: url('clock.png');
    background-size: 80vw 100vh;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.main div{
    transform-origin: bottom;
}
#hourhand{
    width: 1.2%;
    height: 20%;
    border-radius: 1rem;
    background-color: black;
    /* background-color: white; */
    position: absolute;
    top: 30%;
    left: 49.3%;
}
#minutehand{
    width: 1%;
    height: 30%;
    border-radius: 1rem;
    background-color: black;
    /* background-color: white; */
    position: absolute;
    top: 20.5%;
    left: 49.4%;
}
#secondhand{
    width: .9%;
    height: 40%;
    border-radius: 1rem;
    background-color: black;
    /* background-color: white; */
    position: absolute;
    top: 10%;
    left: 49.3%;
}
@media(max-width:360px){
    div.main{
        background-size: 100vw 80vh;
    }
    #hourhand{
        width: 2.2%;
        height: 15%;
        top: 34.75%;
    }
    #minutehand{
        width: 1.4%;
        height: 20%;
        top: 30%;     
    }
    #secondhand{
        width: 1%;
        height: 25%;
        top: 25%;
        background-color: white;
    }
}